<div class="fullscreen bg-slate-300 flex flex-col">
  <div class="bg-blue-900 flex flex-row w-full fixed shadow-inner">
    <div class="flex flex-row flex-1 p-3 gap-3 items-center">
      <p-avatar
        (click)="router.navigate(['profile'])"
        class="cursor-pointer"
        [image]="u().profile.profileImage" 
        size="xlarge" 
        shape="circle"
      />
      <div class="flex flex-row gap-2">
        <p class="text-white font-medium">
          {{u().profile?.firstName}} {{u().profile?.surname}}
        </p>

        <p class="text-slate-300" *ngIf="!socketService.connected">
          (disconnected...)
        </p>
      </div>
    </div>
  </div>
  <div class="mt-[94px] border-2 border-black flex flex-col flex-1 gap-3 p-3 {{fetchState().isError ? 'center':''}}">
    <div *ngIf="fetchState().running; else messages" class="flex-1 flex flex-col center">
      <p-progressSpinner/>
    </div>

    <ng-template #messages>
      @if(!fetchState().isError){
        @for(message of fetchState().result; track message){
          <app-last-message
            [profile]="message | profile:user._id:'home'"
            [unread]="message.sender.usersRef !== user._id"
            [unreadCounter]="message.unreadCounter | toString"
            [groupId]="message.groupId"
            [value]="message.value"
          />
        }
      }
      @else{
        <ng-container 
          *ngTemplateOutlet="error"
        />
      }
    </ng-template>

    <ng-template #error>
      <p (click)="retry()">failed. click to retry!</p>
    </ng-template>

    <p-button 
      icon="pi pi-search" 
      [rounded]="true" 
      class="fixed bottom-7 right-5"
      (click)="router.navigate(['search'])"
    />


  </div>
</div>



