<div class="fullscreen bg-slate-300 flex flex-col">
  <app-navbar
    [image]="user().profile.profileImage"
    [firstName]="user().profile.firstName"
    [surname]="user().profile.surname"
    [connected]="connected"
    page="home"
  />
  <div class="mt-[94px] border-2 border-black flex flex-col flex-1 gap-3 p-3 {{fetchState().isError ? 'center':''}}">
    <div *ngIf="fetchState().running; else messages" class="flex-1 flex flex-col center">
      <p-progressSpinner/>
    </div>

    <ng-template #messages>
      @if(!fetchState().isError){
        @for(message of fetchState().result; track message){
          <app-last-message
            [profile]="message | profile:user()._id:'home'"
            [unread]="message.sender.usersRef !== user()._id"
            [unreadCounter]="message.unreadCounter | toString"
            [groupId]="message.groupId"
            [value]="message.value"
          />
        }
      }
      @else{
        <ng-container 
          *ngTemplateOutlet="error"
        />
      }
    </ng-template>

    <ng-template #error>
      <p (click)="retry()">failed. click to retry!</p>
    </ng-template>

    <p-button 
      icon="pi pi-search" 
      [rounded]="true" 
      class="fixed bottom-7 right-5"
      (click)="router.navigate(['search'])"
    />
  </div>
</div>



