<div class="fullscreen bg-slate-300 flex flex-col">
  <div class="bg-blue-900 flex flex-row w-full fixed shadow-inner">
    <div class="flex flex-row flex-1 p-3 gap-3 items-center">
      <p-avatar
        [image]="user.profile.profileImage" 
        size="xlarge" 
        shape="circle"
      />
      <p class="text-white font-medium">
        {{user.profile?.firstName}}
      </p>
    </div>
  </div>
  <div class="mt-[94px] border-2 border-black flex flex-col flex-1 gap-3 p-3 {{fetchRecentlyMessagesState().running || fetchRecentlyMessagesState().error ? 'center':''}}">
    <p-progressSpinner *ngIf="fetchRecentlyMessagesState().running; else messages"/>

    <ng-template #messages>
      @if(fetchRecentlyMessagesState().result){
        @for(message of recentlyMessages(); track message){
          <app-last-message
            [profile]="message | profile:user._id:'home'"
            [unread]="message.sender.usersRef !== user._id"
            [unreadCounter]="message.unreadCounter | toString"
            [groupId]="message.groupId"
            [value]="message.value"
          />
        }
      }
      @else{
        error
      }
    </ng-template>

    <ng-template #error>
      <p (click)="retry()">failed. click to retry!</p>
    </ng-template>

    <p-button 
      icon="pi pi-search" 
      [rounded]="true" 
      class="fixed bottom-7 right-5"
      (click)="router.navigate(['search'])"
    />


  </div>
</div>



