<div *ngIf="message.contentType === 'text'" class="flex flex-row justify-end">
  <div  class="p-3 flex flex-row gap-1 items-end rounded bg-green-500 w-1/2">
    <div class="flex-1">
      <p>{{message.value}}</p>
    </div>
    <div *ngIf="!message?.sent">
      <i class="pi pi-check text-[1rem]" ></i>
    </div>
    <div *ngIf="message?.sent && !message.read">
      <i class="pi pi-check text-white text-[1rem]" ></i>
    </div>
    <div *ngIf="message?.sent && message.read">
      <i class="pi pi-check text-[1rem] text-white"></i>
      <i class="pi pi-check text-[1rem] text-white"></i>
    </div>
  </div>
</div>

<div *ngIf="message.contentType === 'image'" class="flex flex-row justify-end">
  <div class="lg:w-1/4 border-2 border-black sm:w-1/2 flex flex-col gap-2 bg-green-500 p-2 rounded">
    <img [src]="message.value" class="rounded"/>
    <div class="flex flex-row items-end">
      <p class="flex-1">{{message.description}}</p>
        <i *ngIf="!message?.sent" class="pi pi-check text-[1rem]" ></i>
        <i *ngIf="message?.sent && !message.read" class="pi pi-check text-white text-[1rem]" ></i> 
        <div *ngIf="message?.sent && message.read">
          <i class="pi pi-check text-[1rem] text-white"></i>
          <i class="pi pi-check text-[1rem] text-white"></i>
        </div>
    </div>
  </div>
</div>