<div class="fullscreen bg-blue-400 flex flex-col gap-5 center">
  <span style="font-family: 'Dancing Script', cursive" class="text-4xl text-white">
    Messenger
  </span>
  <div class="flex flex-col items-center lg:w-1/3 md:w-2/4 w-3/4 bg-white shadow-2xl rounded rounded-md p-10 gap-7">
    <div class="w-full flex flex-col items-center">
      <span class="font-bold text-base text-slate-500">
        Sign up for your free Messenger account</span>
    </div>
    <div class="w-full flex flex-col gap-2 text-center">
      <button (click)="signUpWithGoogle()" class="btn-google">
        <i class="pi pi-google text-xl"></i>
        <span class="flex-1">Continue with google</span>
      </button>
      <div>
        <span class="text-slate-900">
          Use your Google account to sign up to Messenger.
        </span>
        <span class="text-slate-900">
          It's that easy. Or, <a class="underline text-blue-900" href="#">register with a password</a> instead
        </span>
      </div>
    </div>
    <a class="text-xs text-blue-900 underline" href="#">Login to your Messenger account</a>
  </div>
</div>



<div *ngIf="verification().running" class="fullscreen flex flex-col center bg-black opacity-50">
  <p-progressSpinner/>
</div>