<div class="fullscreen bg-slate-200 flex flex-col">
  <div class="bg-slate-300 p-3 fixed shadow-inner w-full">
    <span class="p-input-icon-right p-input-icon-left w-full">
      <i class="pi pi-arrow-left" (click)="location.back()"></i>
      <i class="{{process ? 'pi pi-spin pi-spinner':'pi pi-search'}}"></i>
      <input 
        type="text" 
        pInputText 
        class="flex-1 w-full" 
        [(ngModel)]="query" 
        (ngModelChange)="onChange($event)"
        placeholder="who are you looking for?"
      />
    </span>
  </div>
  <div class="mt-[78px] flex flex-col flex-1 gap-3 p-3 shadow-inner {{process ? 'center':''}}">
    <div class="flex-1 flex flex-col center" *ngIf="process; else next">
      <p-progressSpinner/>
    </div> 

    <ng-template #error>
      <div class="flex-1 flex flex-col center">
        <span>something went wrong</span>
      </div> 
    </ng-template>

    
    <ng-template #person  let-message="message" let-profile="profile" let-groupId="groupId">
      <div class="bg-white p-3 shadow-lg rounded flex items-center flex-row w-full">
        <p-avatar
          [image]="profile.profileImage" 
          size="xlarge" 
          shape="circle"
          class="flex"
        />
        <div class="flex-1 flex flex-row px-3 pr-3">
          <div class="flex flex-col justify-center gap-1">
            <span class="font-extrabold text-xl">
              {{profile.firstName}} {{profile.surname}}
            </span>
            <span *ngIf="message" class="text-gray-500 text-lg">
              {{message.value}}
            </span>

          </div>
          <div class="flex-1 flex flex-row justify-end">
            <div class="flex flex-row items-center gap-3">
              <button pButton class="search-result-button" icon="pi pi-envelope">
                <!-- messages button -->
              </button> 
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #empty>
      <div class="flex-1 flex flex-col center">
        <img 
          src="https://img.freepik.com/premium-vector/search-result-find-illustration_585024-17.jpg"
          class="h-72 rounded-full"
        />
      </div> 
    </ng-template>
    
    <ng-template #next>
      @if(isError){
        <ng-container
           *ngTemplateOutlet="error"
        />
      }
      @else{
        @for(x of result; track x){
          <ng-container
						*ngTemplateOutlet="
              person;
              context:{
                profile:x.profile,
                groupId:x.message ? x.message.groupId: _altId,
                message:x.message
              }
            "
					/>
        }
        @empty{
          <ng-container
            *ngTemplateOutlet="empty"
          />
        }
      }
    </ng-template>
  </div>
</div>

