
<div *ngIf="onFetch; else result" class="flex-1 border-2 border-black flex flex-col center">
  <p-progressSpinner/>
</div> 

<ng-template #result>
  @if(!isError){
    @for(message of messages; track message._id; let last = $last){
      @if(message.sender === userId){
        <app-message-sent
          [isLast]="last"
          [message]="message"
          (resend)="resend($event)"
          class="self-end min-w-[50%] max-w-[75%]"
        />
      }
      @else{
        <ng-container
          *ngTemplateOutlet="accept; context:{message,last}"
        />
      }
    }
  }  
  
</ng-template>

<ng-template #accept let-message="message" let-last="last">
  <app-message-accept
    [message]="message"
    [isLast]="last"
    class="self-start min-w-[50%] max-w-[75%]"
  />
</ng-template>
