<div class="p-6 flex flex-row">
  <span class="font-bold text-xl">
    Messages {{connected ? '(Connected)' : ''}}
  </span>
  <div class="flex flex-row flex-1 justify-end items-center gap-3">
    <i class="pi pi-cog"></i>
    <i class="pi pi-envelope"></i>
  </div>
</div>

<div class="flex p-3 flex-row items-center relative">
  <i class="pi pi-search left-8 absolute"></i>
  <input 
    type="text"
    placeholder="Search Direct Messages"
    class="p-4 rounded-full flex-1 pl-12 shadow-xl"
  />
</div>
<div class="flex-1 flex flex-col p-3 gap-5">
  <div *ngIf="process; else next" class="flex flex-col flex-1 justify-center items-center">
    <p-progressSpinner/>
  </div>

  <ng-template #empty>
    <div class="flex-1 flex flex-col items-center justify-center">
      <span>no messages</span>
    </div>
  </ng-template>

  <ng-template #message let-message="i" >
    <div class="flex flex-row p-3 gap-3 bg-white shadow-md rounded-md items-center">
      <p-avatar
        [image]="message.accept.profile.profileImage" 
        size="large" 
        shape="circle"
        class="flex"
      />
      <div class="flex flex-col">
        <div class="flex flex-row items-center gap-2">
          <span class="font-bold text-lg">
            {{ message.accept.profile.firstName }}
          </span>
        </div>
        <div class="truncate flex flex-row items-center gap-2">
          <div *ngIf="message.contentType === 'text'" routerLink="/messages/{{message.accept._id}}" [state]="{profile:message.accept.profile,groupId:message.groupId}">
            <a class="hover:underline">{{message.value}}</a>
          </div>
          <div *ngIf="message.contentType === 'image'" routerLink="/messages/{{message.accept._id}}" [state]="{profile:message.accept.profile,groupId:message.groupId}">
            <a class="flex flex-row gap-2 items-center hover:underline">
              <i class="pi pi-image text-[1rem]"></i>
              <span class="text-slate-600">photo</span>
            </a>
          </div>
          <span *ngIf="!message.received">
            <i *ngIf="(!message.older && !message?.sent) && !message?.failed" class="pi pi-check text-[1rem]"></i>
            <i *ngIf="(message.older || message?.sent) && !message.read" class="pi pi-check text-red-900 text-[1rem]"></i>
            <i *ngIf="(message.older || message?.sent) && message?.read" class="pi pi-check text-blue-900 text-[1rem]"></i> 
            <i *ngIf="(message.older || message?.sent) && message?.read" class="pi pi-check text-blue-900 text-[1rem]"></i> 
            <i *ngIf="message?.failed" class="pi pi-exclamation-circle text-red-900 text-[1rem]"></i> 
          </span>
        </div>
      </div>
    </div>
  </ng-template>
  
  <ng-template #error>
    <div class="flex-1 flex flex-col items-center justify-center">
      <span>{{errorMessage}}</span>
    </div>
  </ng-template>


  <ng-template #next>
    @if(isError){
      <ng-container *ngTemplateOutlet="error"/>
    }
    @else{
      @for(i of history(); track i._id){
        <ng-container *ngTemplateOutlet="message;context:{i}"/>
      }
      @empty{
        <ng-container *ngTemplateOutlet="empty"/>
      }
    }
  </ng-template>
</div>






