<form (submit)="send.emit(newMessage)" class="fixed bottom-0 bg-slate-200 w-full p-3 shadow-inner" [formGroup]="newMessage">
  <p-inputGroup class="flex flex-row">
    <input 
      type="text" 
      pInputText 
      placeholder="Keyword"
      class="flex-1 px-3 outline-none"
      formControlName="value"
    />
    <button [disabled]="uploading" pButton icon="pi pi-image relative">
      <input type="file" 
        class="opacity-0 absolute"
        (change)="onFileChange($event)"
      />
    </button>
    <button type="submit" [disabled]="isValid || isRunning" pButton icon="pi pi-arrow-up"></button>
  </p-inputGroup>
</form>
