<form (submit)="send.emit(newMessage)" class="z-10 lg:rounded bg-slate-300 w-full p-3 shadow-inner" [formGroup]="newMessage">
  <p-inputGroup class="flex flex-row">
    <input 
      type="text" 
      pInputText 
      placeholder="Keyword"
      class="flex-1 px-3 outline-none"
      formControlName="value"
    />
    <button [disabled]="uploading" pButton [icon]="uploading ? 'pi pi-spin pi-spinner':'pi pi-image relative'">
      <input type="file" 
        class="opacity-0 absolute"
        (change)="onFileChange($event)"
      />
    </button>
    <button type="submit" [disabled]="isValid || isRunning" pButton icon="pi pi-arrow-up"></button>
  </p-inputGroup>
</form>
