<div class="fullscreen bg-slate-300 flex flex-col">
  <app-navbar
    [image]="routeState.profile.profileImage"
    [firstName]="routeState.profile.firstName"
    [surname]="routeState.profile.surname"
    [connected]="connected"
    (fn)="router.navigate([''])"
  >
    <i class="pi pi-arrow-left text-white text-[1rem]" fn></i>
  </app-navbar>
  <app-messages
    [userId]="user()._id"
    [onFetch]="fetchState().running"
    [messages]="fetchState().result"
    [isError]="fetchState().isError"
    class="flex-1 overflow-x-auto gap-3 p-3 mt-[88px] mb-[74px] flex flex-col {{fetchState().isError ? 'center':''}} "
  />
  <app-send-message 
    (send)="send($event)"
    [newMessage]="newMessage"
    [isRunning]="sendState().running"
    [isValid]="isValid.test(newMessage.value.value)"
  />
</div>
