<div class="fullscreen bg-slate-200 flex flex-col overflow-x-auto">
  <div class="bg-blue-900 flex flex-row gap-3 p-3 fixed w-full">
    <div (click)="location.back()" class="flex btn-back flex-row gap-3 items-center">
      <i class="pi pi-arrow-left text-[1.5rem] text-white"></i>
      <p-avatar
        [image]="pageState.profile.profileImage" 
        size="xlarge" 
        shape="circle"
        class="flex flex-col justify-center"
      />
    </div>
    <div class="flex flex-col flex-1 justify-center">
      <p class="text-white font-medium">
        {{pageState.profile.firstName}}
      </p>
    </div>
  </div>
  <div class="{{fetchAllMessageState().running ? 'center':''}} flex-1 gap-3 p-3 mt-[88px] flex-1 flex flex-col">
    <p-progressSpinner *ngIf="fetchAllMessageState().running; else result"/>

    <ng-template #result>
      @if(fetchAllMessageState().result){
        @for(message of messages(); track message){
          <div class="flex flex-row {{message.sender === user._id ? 'justify-end':'' }}">
            <div class="p-3 rounded {{message.sender === user._id ? 'bg-green-500':'bg-white shadow-lg'}}">
              {{message.value}}
            </div>
          </div>
          <div class="flex flex-row {{message.sender === user._id ? 'justify-end':'' }}">
            <div class="p-3 rounded {{message.sender === user._id ? 'bg-green-500':'bg-white shadow-lg'}}">
              {{message.value}}
            </div>
          </div>
          <div class="flex flex-row {{message.sender === user._id ? 'justify-end':'' }}">
            <div class="p-3 rounded {{message.sender === user._id ? 'bg-green-500':'bg-white shadow-lg'}}">
              {{message.value}}
            </div>
          </div>
          <div class="flex flex-row {{message.sender === user._id ? 'justify-end':'' }}">
            <div class="p-3 rounded {{message.sender === user._id ? 'bg-green-500':'bg-white shadow-lg'}}">
              {{message.value}}
            </div>
          </div>
        }
      }
      @else{
        error
      }
    </ng-template>
  </div>
  <div class="fixed bottom-0 w-full p-3 bg-slate-200 shadow-inner">
    <p-inputGroup class="flex flex-row">
      <input 
        type="text" 
        pInputText 
        placeholder="Keyword"
        class="flex-1 px-3 outline-none "
      />
      <button type="button" pButton icon="pi pi-send"></button>
    </p-inputGroup>
  </div>
</div>
